.service-item {
    margin: 0.7em 0;
    padding: 1.3em;
    clear: both;
    line-height: 1.3;
}

.service-cont {
    width: 45%;
    display: inline-block;
}

h3.service-head {
    font-size: 30px;
}

.service-text {
    font-family: "Encode Sans";
    font-size: 20px;
}

.clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
 }

 .service-item h3 {
     font-family: "Cormorant Infant";
     text-transform: uppercase;
 }

 .cont {
     float: left;
 }

 .service-photo-container {
     float: right;
     position: relative;
     bottom: 0;
     display: inline-flex;
     justify-content: space-around;
     align-items: baseline;
     max-width: 54%;
     max-height: 200px;
     margin-top: 10px;
 }
 
 .service-photo-container img {
     width: 45%;
 }