@import '~hamburgers/_sass/hamburgers/hamburgers.scss';

nav {
    text-transform: uppercase;
    font-family: "Cormorant Infant";
    font-weight: 700;
    font-size: 20px;

    a {
        padding: 1.7em 0.5em 0.7em;
        text-decoration: none;
        color: #333333;
    }

    a:hover {
        background-color: #fce5d5;
    }

    ul {
        display: inline-flex;
        max-width: 100%;
        list-style-type: none;
        justify-content: space-around;
        width: 40%;
    }

    li {
        display: inline;
        height: 22px;
    }

    .nav-right {
        float: right;
    }

    
}

.logo {
    display: inline;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 10px;
    margin-left: 20px;
    padding: 5px;
}

.mobile-nav {
    position: relative;
    height: 2em;

    button {
        float: left;
        margin: 0.8em 0 0 0.8em;
    }

    .logo {
        position: relative;
        left: -45px;
        display: block;
        margin: 0 auto !important;
        width: 90px;
        height: 90px;
        margin-left: 0;
    }

    .mobile-navigation-links {
        position: relative;
        left: 1em;
        width: 150px;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(6px);
        border: 2px solid black;
        z-index: 100;
        padding: 1em;
        font-size: 20px;
    }

    .mobile-navigation-links ul {
        list-style-type: none;
    }

    .mobile-navigation-links li, .mobile-navigation-links li:visited {
        padding: 0.4em;
        color: black;
        text-decoration: none !important;
    }
}