footer {
    background-color: #fce5d5;
    clear: both;
    text-align: center;
    border-radius: 10px 10px 0 0;
    font-family: "Cormorant Infant";
    margin-top: 2em;

    p {
        padding: 1.2em;
        font-size: 1.2em;
    }
}